# Release and publish Node.js package

name: Create Release and Publish to NPM

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  publish-npm:
    name: Release and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run build
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Get release version
        id: get_release_version
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
      - name: Upload release notes
        id: upload-release-notes
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.get_release_version.outputs.upload_url }}
          asset_path: ./RELEASE_NOTES.md
          asset_name: RELEASE_NOTES.md
          asset_content_type: text/markdown